
body{

	display: flex;
	justify-content: center;
}

.bob-esponja {

	border:  2px solid black;
	width: 200px;
	height: 300px;
}

.poro1 {

	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #a88e3a;
	border: 1px solid #a88e3a;
	border-radius: 50px;
	margin-top: 153px;
	margin-left: 30px;
}

.poro2{

	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #a88e3a;
	border: 1px solid #a88e3a;
	border-radius: 50px;
	margin-top: 165px;
	margin-left: 122px;
}

.poro3{

	position: absolute;
	width: 32px;
	height: 32px;
	background-color: #a88e3a;
	border: 1px solid #a88e3a;
	border-radius: 50px;
	margin-top: 0px;
	margin-left: 0px;
}

.poro4{

	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #a88e3a;
	border: 1px solid #a88e3a;
	border-radius: 50px;
	margin-top: 5px;
	margin-left: 180px;
}

.poro5{

	position: absolute;
 	width: 16px; 
     height: 32px; 
     border: 2px solid #a88e3a; 
     border-radius: 50px;
     background: #a88e3a;
     -moz-border-radius: 0 100px 100px 0;
     -webkit-border-radius: 0 100px 100px 0;
     border-radius: 0 100px 100px 0;
     transform: rotateZ(180deg);
     margin-top: 140px;
	 margin-left: 182px;
}


.cara {

	display: flex;
	justify-content: center;
	align-content: center;
	background-color: #f5EE31;
	width: 100%;
	height:65%;
}


.pestañasizq3 {

	display: flex;
	justify-content: center;
	position: absolute;
	width:3px;
	height: 12px;
	background-color: black;
	margin-top: 15px;
	margin-right: 35px;
	transform: rotateZ(30deg);
	border-radius:1px;
}

.pestañasizq2 {

	position: absolute;
	width:3px;
	height: 12px;
	background-color: black;
	margin-top: 9px;
	margin-right: 83px;
	border-radius: 1px;
}

.pestañasizq1 {

	position: absolute;
	width:3px;
	height: 12px;
	border-radius: 45px;
	background-color: black;
	margin-top: 15px;
	margin-right: 128px;
	transform: rotateZ(-30deg);
	border-radius: 1px;
}

.pestañasdcha3 {

	display: flex;
	justify-content: center;
	position: absolute;
	width:3px;
	height: 12px;
	background-color: black;
	margin-top: 15px;
	margin-left: 35px;
	transform: rotateZ(-30deg);
	border-radius: 1px;
}

.pestañasdcha2 {

	position: absolute;
	width:3px;
	height: 12px;
	background-color: black;
	margin-top: 9px;
	margin-left: 83px;
	border-radius: 1px;
}

.pestañasdcha1 {

	position: absolute;
	width:3px;
	height: 12px;
	background-color: black;
	margin-top: 15px;
	margin-left: 128px;
	transform: rotateZ(30deg);
	border-radius: 1px;
}

.cara-interior {

	display: flex;
	align-self: center;
	flex-direction: column;
	width: 80%;
	height:80%;
}

.cara-interior-superior {
	display: flex;
	background-color: #f5EE31;
	width: 100%;
	height: 50%;
	justify-content: center;
}

.nariz {

	width: 20px;
	height: 50px;
	background-color: #f5EE31;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid transparent;
	border-radius:46%;
	display: flex;
	align-self: flex-end;
	position: absolute;
}


.ojo-izquierdo {

	width: 50%;
	height: 100%;
	background-color: white;
	border-radius:  50px;
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items:  center;
}

.iris {

	width: 55%;
	height: 55%;
	background-color: blue;
	border-radius: 50px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items:  center;
}

.pupila {

	width: 50%;
	height: 50%;
	background-color: black;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items:  center;
}

.ojo-derecho {

	width: 50%;
	height: 100%;
	background-color: white;
	border-radius:  50px;
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items:  center;
}

.cara-interior-inferior{

	display: flex;
	background-color: #f5EE31;
	width: 100%;
	height: 50%;
	justify-content: center;
	flex-direction: column;
}

.mejillas {

	background-color: #f5EE31;
	width: 100%;
	height: 45%;
	display: flex;
	margin-top: 9px;	
}

.mejilla {

	width: 14%;
	height: 95%;
	background-color: transparent;
	border:  2px solid red;
	border-radius: 35%;
	border-bottom:  transparent;
	margin-left: 15px;
	margin-right: 40px;
}

.boca {

	width: 80%;
	height: 50%;
	border-bottom: 2px solid black;
	border-radius: 50%;
	margin: auto;
	align-self: center;
}

.dientes {
	
	display: flex;
	width: 35%;
	height: 80%;
	margin-top: 0px;
	margin-left: 55px;
}

.diente {
	
	background-color: white;
	width: 35%;
	height: 40%;
	border: 1px solid black;
	margin: 1px;
}

.cuerpo {

		background-color: white;
		width: 100%;
		height: 35%;
}

.camisa {

	border-top:  2px solid black;
	border-bottom: 2px solid black;
	width:100%;
	height: 50%;	
	display: flex;
	justify-content: center;
	align-items: center;
}

.cuello1 {

	width: 35px;
	height: 22px;
	background-color: transparent;
	border: 2px solid black;
	transform: rotateZ(35deg);
	margin-right: 30px;
	margin-top: -53px;
	border-top: 2px solid transparent;
	border-left: 2px transparent;
}

.corbatasup {

	position: absolute;
	width: 22px;
	height: 22px;
	background-color: red;
	border:  2px solid black;
	transform: rotateZ(45deg);
	margin-bottom: 53px;
	border-left: 2px transparent;
	border-top: 2px transparent;
}

.corbatainf{ 

	position: absolute;
	width: 56px;
	height: 56px;
	background-color: red;
	border:  2px solid black;
	transform: rotateZ(45deg);
	margin-top: 60px;

}

.cuello2 {

	width: 35px;
	height: 22px;
	background-color: transparent;
	border: 2px solid black;
	transform: rotateZ(-35deg);
	margin-top: -53px;
	border-top: 2px solid transparent;
	border-right: 2px transparent;
}

.pantalon {
	
	position: absolute;
	display: inline-block;
	justify-content: center;
	background-color: saddlebrown;
	width: 200px;
	height: 50px;
}

.hebilla1 {
	position: absolute;
	width: 30px;
	height: 15px;
	background-color: black;
	border-color: 2px;
	margin-top: 16px;
	margin-right: 15px;
	margin-left: 15px
}

.hebilla2 {
	position: absolute;
	width: 30px;
	height: 15px;
	background-color: black;
	border-color: 2px;
	margin-top: 16px;
	margin-right: 45px;
	margin-left: 63px;
}

.hebilla3 {

	position: absolute;
	width: 30px;
	height: 15px;
	background-color: black;
	border-color: 2px;
	margin-top: 16px;
	margin-right: 60px;
	margin-left:108px;
}

.hebilla4 {
	
	position: absolute;
	width: 30px;
	height: 15px;
	background-color: black;
	border-color: 2px;
	margin-top: 16px;
	margin-right: 70px;
	margin-left:151px;
}